<div class="container">
  <ul>
    <% @books.each do |book| %>
      <li><a href="/books/<%= book.id%>"><h4><%= book.title%></h4> - <%= book.author%></a></li>

      <% if log_in? %>
        <% if book.read?(current_user) %>
          <h3 class="read-book">You alreader read this book</h3>
          <% else  %>
          <form class="add-reader" action="/books/<%= book.id%>/reserve" method="post">
            <input type="submit" name="" value="Read!">
          </form>
        <% end %>
      <% end %>
    <%end%>
  </ul>
</div>
